spring:
  datasource:
    url: jdbc:mysql://localhost:3306/studentDB?allowPublicKeyRetrieval=true&useSSL=false
    username: ${db.username}
    password: ${db.password}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  batch:
    jdbc:
      initialize-schema: always
  properties:
    hibernate:
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect