spring:
  profiles:
    include:
      - config
      - mysql
      - security
      - kafka
  application:
    name: "Student Application"

springdoc:
  swagger-ui:
    path: /swagger-ui.html

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"
    health:
      show-details: always

info:
  application:
    name: "Student Application"
    database: "MySQL"

server:
  port: 7071